{% if pager.page_count > 1 %}
    {% set page_uri = 'page=' ~ pager.current_page %}
    {% if 'page=' not in uri %}
        {% set operation = '&' %}
        {% if '?' not in uri %}
            {% set operation = '?' %}
        {% endif %}
        {% set uri = uri ~ operation ~ page_uri %}
    {% endif %}

    <div class="shortcode-html">
        <nav class="text-center" aria-label="Page Navigation">
            <ul class="list-inline">

                {% if pager.current_page != 1 %}
                    <li class="list-inline-item float-sm-left">
                        <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16"
                           href="{{ uri|replace({(page_uri): ('page=' ~ pager.previous_page)}) }}"
                           aria-label="Previous">
                        <span aria-hidden="true">
                          <i class="fa fa-angle-left g-mr-5"></i>
                          Previous
                        </span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}

                {% if pager.current_page - 5 > pager.first_page %}
                    <li class="list-inline-item g-hidden-sm-down">
                        <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14"
                           href="{{ uri|replace({(page_uri): ('page=' ~ pager.first_page)}) }}">
                            {{ pager.first_page }}
                        </a>
                    </li>
                    <li class="list-inline-item g-hidden-sm-down">
                        <a class="g-pa-7-14">...</a>
                    </li>
                {% endif %}

                {% for i in 5..1 %}
                    {% if pager.current_page - i != 0 and pager.current_page - i > 0 %}
                        <li class="list-inline-item g-hidden-sm-down">
                            <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14"
                               href="{{ uri|replace({(page_uri): ('page=' ~ (pager.current_page - i))}) }}">
                                {{ pager.current_page - i }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                <li class="list-inline-item g-hidden-sm-down">
                <span class="u-pagination-v1__item u-pagination-v1-4 u-pagination-v1-4--active g-rounded-50 g-pa-7-14"
                      href="#">
                    {{ pager.current_page }}
                </span>
                </li>

                {% for i in 1..5 %}
                    {% if pager.current_page + i <= pager.last_page %}
                        <li class="list-inline-item g-hidden-sm-down">
                            <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14"
                               href="{{ uri|replace({(page_uri): ('page=' ~ (pager.current_page + i))}) }}">
                                {{ pager.current_page + i }}
                            </a>
                        </li>
                    {% endif %}
                {% endfor %}

                {% if pager.current_page + 5 < pager.last_page %}
                    <li class="list-inline-item g-hidden-sm-down">
                        <a class="g-pa-7-14">...</a>
                    </li>
                    <li class="list-inline-item g-hidden-sm-down">
                        <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-14"
                           href="{{ uri|replace({(page_uri): ('page=' ~ pager.last_page)}) }}">
                            {{ pager.last_page }}
                        </a>
                    </li>
                {% endif %}

                {% if pager.last_page != pager.current_page %}
                    <li class="list-inline-item float-sm-right">
                        <a class="u-pagination-v1__item u-pagination-v1-4 g-rounded-50 g-pa-7-16"
                           href="{{ uri|replace({(page_uri): ('page=' ~ pager.next_page)}) }}"
                           aria-label="Next">
                        <span aria-hidden="true">
                          Next
                          <i class="fa fa-angle-right g-ml-5"></i>
                        </span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
{% endif %}
