<div class="row g-mb-20">
    <div class="col-md-3 align-self-center g-mb-5 g-mb-0--md">
        <label class="mb-0" for="{{ id }}">{{ id|capitalize|replace({'_':' '}) }}</label>
    </div>

    <div class="col-md-9 align-self-center">
        <div class="form-group g-pos-rel mb-0">
            <img class="img-fluid g-mb-20" src="{{ path }}" alt="Image Description">
        </div>

        <input id="{{ id }}" name="{{ model }}[{{ id }}]"
               class="form-control h-100 form-control-md g-brd-gray-light-v7 g-brd-lightblue-v3--focus g-brd-primary--error g-rounded-4 g-px-20 g-py-12"
               type="{{ type }}" value="{{ value }}" required="required"
               aria-required="true" disabled="disabled">
    </div>

</div>